{

    margin: 0;
    padding: 0;

}

.cabecalho{
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
 }
 .cartao{
    width: 260px;
    height: 200px;

 }
 .cartao-imagem{
    width: 100%;
 
}
    body{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aquamarine;
    }
    main{
flex: 1;
    }

    .cabecalho-link{
     color: blue; 
text-decoration: none;
    }
    h1{
        color: aliceblue;
    }

    .footer{
        background-color: blueviolet;
    }